
.header {
    background-color: #f5f5dc; /* Color blanco hueso */
    height: 15%; /* Ajusta según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; /* Ajusta el relleno según tus necesidades */
    top: 0; /* Alinear en la parte superior */
    border-radius: 0 0 15px 15px; /* Redondear solo la parte inferior */
    font-family: "Outfit", sans-serif;/* Tipo de letra */
    overflow-x: hidden;
  }
  
  .logo-container {
    width: 20%; /* Ajusta según tus necesidades */
    margin-left: 1rem;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 20px; /* Ajusta según tus necesidades */
  }
  
  .menu ul li:last-child {
    margin-right: 0;
  }

  .menu ul li a {
    text-decoration: none; /* Remove underline from links */
    color: black;
    font-size: 1.1rem;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icon{
    margin-right: 1rem; /* Ajusta según tus necesidades */
    cursor: pointer;
    outline: none; /* Elimina cualquier borde al hacer clic */
    background: none;
    border: none;
    padding: 0;
  }
  

  /* Estilos de hover */
  .icon:hover {
    color: pink;
  }