.contenedor-principal {
  display: flex;
  height: 100vh;
  width: 98.5vw;
  background-image: url('../../public/assets/foto.jpg');
  background-size: cover;
  font-family: "Outfit", sans-serif;/* Tipo de letra */
  position: relative;
}
  
  .contenido{
    position: absolute;
    top: 30%;
    left: 30%;
  }

  h1 {
    color: black;
  }
  
  .boton-conocenos {
    background-color: #FD8EA1;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif; /* Tipo de letra */
    margin-left: 1rem;
  }
  
  .boton-conocenos:hover {
    background-color: #FF6B8A;
  }
  