.titulo-container {
    background-color: #f5f5dc;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .titulo-texto {
    font-size: 1.5rem;
    color: black;
    font-family: "Outfit", sans-serif;
  }
  